<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
		id="com.itdar.phonegap.smsreader" 
		version="0.1.0">
		
        <name>SmsReaderPlugin</name>
        <description>Cordova Plugin to get unread SMS messages</description>
        <license>MIT</license>
        <keywords>cordova,sms</keywords>
        <repo>https://github.com/amersabag/phonegap-sms-reader-plugin.git</repo>
		<js-module src="www/smsreaderplugin.js" name="smsreaderplugin">
            <clobbers target="smsreaderplugin" />
        </js-module>
		<!-- android -->
		<platform name="android">
			<config-file target="res/xml/config.xml" parent="/*">
				<feature name="SmsReaderPlugin">
					<param name="android-package" value="com.itdar.phonegap.smsreader.SmsReaderPlugin" />
				</feature>
			</config-file>
			<config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.READ_SMS" />
				<uses-permission android:name="android.permission.WRITE_SMS" />
			</config-file>
		
			<source-file src="src/android/com/itdar/phonegap/smsreader/SmsReaderPlugin.java" target-dir="src/com/itdar/phonegap/smsreader"/>
		</platform>
    </plugin>